
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="head">
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                  <h1 class="muted">SunCycle</h1>
                </div>
                <div class="span4 offset2" style="margin-top:15px;">
                    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete },  class: "btn pull-right" %>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>